.footer {
    background-color:#e9fffd ;
    margin-top:10px;
    margin-bottom:0%;
    color:black;
    
    
}
ul li{
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    padding:5px;
}
.border-right{
    border-right: 1px solid orange;
    margin-top: 15px;
}